<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% extends 'base.html' %}

{% block content %}



        <header>
            <h1>Django Day - Brescia (WEBdeBS) ~ 28 aprile 2011</h1>
        </header>

        <section id="secIscrizione">
            <h3>Iscrizione</h3>
            <p>Le iscrizioni al momento <strong>non sono ancora aperte</strong>, per&ograve;  se volete   'mettere un piede dentro la porta' potete registrarvi alla nostra newsletter: rimarrete sempre informati e sarete <strong>i primi ad essere avvisati</strong> non appena apriranno ufficialmente.</p>

            <form id="secIscrizioneSignup" action="{% url subscribe %}" method="POST">
                <fieldset>
                    <label for="inp_signup_email" id="lbl_signup_email">Indirizzo email >
                        <input type="email" name="inp_signup_email" id="inp_signup_email" placeholder="inserisci il tuo indirizzo email"/></label>
                    <input type="submit" name="inp_signup_submit" id="inp_signup_submit" value="invia" />
                </fieldset>
                <span id="inp_signup_feedback"></span>
            </form>

        </section>

{% endblock %}