<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% extends 'base.html' %}

{% block content %}

    <section id="secIscrizione">
        <h3>Iscrizione</h3>
        {% if form %}
            <p>
                {{ form.errors }}
            </p>

           {% include 'newsletter_form.html' %}
        {%  else %}
            <p>
                Fatto! Ora per rendere effettiva l'iscrizione &egrave; sufficiente cliccare sul link di attivazione che ti abbiamo spedito per email all'indirizzo che hai indicato.
            </p>
        {%  endif %}

    </section>

{% endblock %}